@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }

  a, button {
    @apply transition-colors;
  }
  a:hover, button:hover {
    @apply text-fg3;
  }

  :root {
    --font-sans: system-ui, sans-serif;
    --font-serif: ui-serif, serif;
    --font-mono: ui-monospace, monospace;

    /* Oxocarbon (dark) */
    --bg1: #161616;
    --bg2: #262626;
    --bg3: #393939;
    --bg4: #525252;
    --fg1: #dde1e6;
    --fg2: #f2f4f8;
    --fg3: #ffffff;
    --accent1: #ff7eb6;
    --accent2: #3ddbd9;
    --blue1: #78a9ff;
    --blue2: #82cfff;
    --blue3: #33b1ff;
    --blue4: #08bdba;
    --purple: #be95ff;
    --negative: #ee5396;
    --positive: #42be65;
    --blend1: #1e1e1e;
    --ignore: #8d8d8d;
  }
}

@theme inline {
  --color-background: var(--bg1);
  --color-foreground: var(--fg1);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-bg4: var(--bg4);
  --color-fg1: var(--fg1);
  --color-fg2: var(--fg2);
  --color-fg3: var(--fg3);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
  --color-blue1: var(--blue1);
  --color-blue2: var(--blue2);
  --color-blue3: var(--blue3);
  --color-blue4: var(--blue4);
  --color-purple: var(--purple);
  --color-negative: var(--negative);
  --color-positive: var(--positive);
  --color-blend1: var(--blend1);
  --color-ignore: var(--ignore);
}

@layer utilities {
  .section-heading {
    @apply text-2xl md:text-3xl font-medium text-fg2;
  }

  .section-image {
    @apply bg-[#1E1E1E] relative min-h-[320px];
  }
}